:root {
  --primary: rgba(0, 0, 0);
  --background: rgba(255, 255, 255);
  --secondary: rgba(191, 7, 7);
  --secondary-hover: rgba(191, 7, 7, 0.1);
  --max-width: 50rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgba(255, 255, 255);
    --background: rgba(0, 0, 0);
    --secondary: rgb(248, 64, 64);
    --secondary-hover: rgba(248, 64, 64, 0.1);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: var(--primary);
  background: var(--background);
  text-align: left;
  margin: 1rem;
}

header,
.content {
  margin: auto;
  max-width: var(--max-width);
  line-height: 1.3;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
}

header h1 a {
  color: var(--primary);
  text-decoration: none;
}

header h1 .hl {
  color: var(--secondary);
}

header .desc {
  color: var(--secondary);
  margin: 0;
}

table {
  width: 100%;
  margin-top: 2rem;
}

a {
  color: var(--secondary);
}

.all-tags {
  text-align: center;
}

.tagsList {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

:not(td)>.tagsList:not(.single) {
  justify-content: center;
}

:not(td)>.tagsList {
  margin: 1rem 0;
}

.tagsList li,
.tagTitle {
  display: inline-block;
  color: var(--secondary);
  border: 0.1em solid var(--secondary);
  padding: 0.1em 0.4rem;
  border-radius: 0.2em;
}

.tagsList li a {
  text-decoration: none;
}

.chroma {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

pre {
  overflow-x: auto;
  position: relative;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: .25em solid var(--secondary);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.tableList td,
.tableList th {
  padding: 0.2rem 0.4rem;
  width: 50%;
}

.tableList tr:hover td {
  background-color: var(--secondary-hover);
}

:not(pre)>code {
  background-color: #f0f0f0;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.searchBox input {
  width: 100%;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary);
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--primary);
  background: var(--background);
}

.searchBox input:focus {
  outline: 0.1em solid var(--secondary);
}

.searchBox {
  margin: 1rem 0;
}

header h1 img {
  height: 1.5rem;
}
