:root {
  --primary: rgba(0, 0, 0);
  --secondary: rgba(191, 7, 7);
  --secondary-hover: rgba(191, 7, 7, 0.1);
  --max-width: 50rem;
}

* {
  box-sizing: border-box;
}

body,
header h1 a {
  color: var(--primary);
}

body {
  font-family: sans, sans-serif;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  margin: 1rem;
}

.main,
header,
footer {
  margin: auto;
  max-width: var(--max-width);
  line-height: 1.3;
}

header {
  margin-bottom: 1rem;
}

header h1 a {
  text-decoration: none;
}

a,
header .desc,
header h1 .hl {
  color: var(--secondary);
}

header .desc,
header h1 {
  margin: 0;
}

footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

footer hr {
  border: 1px solid var(--secondary-hover);
}

footer .footer-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
}

.all-tags {
  text-align: center;
}

.tagsList {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

:not(td)>.tagsList:not(.single) {
  justify-content: center;
}

:not(td)>.tagsList {
  margin: 1rem 0;
}

.tagTitle,
.tagsList li {
  display: inline-block;
  color: var(--secondary);
  border: 0.1em solid var(--secondary);
  padding: 0.1em 0.4rem;
  border-radius: 0.2em;
}

.tagsList li a {
  text-decoration: none;
}

.chroma {
  border-radius: 0.2rem;
  margin: 0;
}

:not(.lntd)>.chroma {
  padding: 0.3rem;
}

pre {
  overflow-x: auto;
  position: relative;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: .25em solid var(--secondary);
}

.tableList td,
.tableList th {
  padding: 0.2rem 0.4rem;
  width: 50%;
}

.tableList tr:hover td {
  background-color: var(--secondary-hover);
}

:not(pre)>code {
  background-color: #f0f0f0;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.searchBox input {
  width: 100%;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary);
  padding: 0.5rem;
  font-size: 1rem;
}

.searchBox input:focus {
  outline: 0.1em solid var(--secondary);
}

.searchBox {
  margin: 1rem 0;
}

header h1 img {
  height: 1.5rem;
}

.content table td,
.content table th {
  border: 1px solid var(--primary);
  padding: 0.2rem 0.4rem;
}

.content .gist table td {
  border: initial;
}

.content table th {
  background: var(--secondary-hover);
}

img {
  max-width: 100%;
}

.chroma .hl {
  display: flex;
}

.chroma table.lntable {
  display: block;

}

.chroma .lntable .lntd:last-of-type {
  width: 100%;
}

.four-o-four {
  text-align: center;
  font-size: 2rem;
}
