<header>
  <h1>
    <a href="{{ "" | absURL }}">
      {{ with site.Params.TitleIcon }}<img src="{{ . | absURL }}" alt="{{ site.Title }}">{{ end }}
      <span>{{ site.Title }}</span>
    </a>
    {{- $is404 := eq .Kind "404" }}
    {{- if and (not .IsHome) (not $is404) }}
    <span class="hl">/</span>
    <a href="{{.Permalink}}">
      {{- if eq .Kind "term" }}
      <span class="hl">{{ .Title }}</span>
      {{- else }}
      <span>{{ .Title }}</span>
      {{- end }}
    </a>
    {{- end }}
  </h1>
  <p class="desc">{{ .Description }}</p>
</header>
